<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @blog.name %>
</p>

<p>
  <strong>User:</strong>
  <%= @blog.user_id %>
</p>

<p>
  <strong>Article:</strong>
  <% if @blog.articles.present? %>
    <% @blog.articles.each do |article| %>
      <%= link_to "#{article.title}", article %>
    <% end %>
  <% else %>
    no data
  <% end %>
  <% if @blog.is_owner? current_user %>
    <%= link_to "New Article", new_article_path(blog_id: @blog.id) %>
  <% end %>
</p>

<%= link_to 'Edit', edit_blog_path(@blog)  %> |
<%= link_to 'Back', @blog.user %>
