<p id="notice"><%= notice %></p>

<h3><%= @blog.name %></h3>
<% if @blog.articles.present? %>
  <% @blog.articles.each do |article| %>
    <div class="row">
      <div class="col-sm-12 body">
        <small><%= format_date article.created_at %></small>
        <h4 class="section"><%= link_to article.title, article %></h4>
        <div class="row">
          <div class="col-sm-12">
            <%= format_text article.body %>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
<% else %>
  <div class="row">
    <div class="col-sm-12">
      <%=t :no_object, obj: t(:article) %>
    </div>
  </div>
  <br>
<% end %>
<% if @blog.is_owner? current_user %>
  <%= link_to t(:write_object, obj: t(:article)), new_article_path(blog_id: @blog.id) %> |
  <%= link_to t(:edit_object, obj: t(:blog)), edit_blog_path(@blog)  %> |
<% end %>
<%= link_to t(:back), @blog.user %>
