<p id="notice"><%= notice %></p>

<h3><%= @article.blog.name %></h3>
<hr />
<div class="row">
  <div class="col-sm-12">
    <h4><%= link_to "#{@article.title}", @article %></h4>
    <div class="row">
      <div class="col-sm-12">
        <div style="float:right"><small><%= format_ja_datetime @article.created_at %></small></div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <%= @article.body %>
      </div>
    </div>
  </div>
</div>
<hr />
<h5><%=t :object_list, obj: t(:comment) %></h5>
<hr />
<% if @article.comments.present? %>
  <% @article.comments.each do |comment| %>
    <div class="row">
      <div class="col-sm-12">
        <div class="row">
          <div class="col-sm-12">
            <div style="float:left"><b><%= comment.owner.name %></b></div>
            <div style="float:right"><small><%= format_ja_datetime comment.created_at %></small></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= comment.body %>
          </div>
        </div>
      </div>
    </div>
    <hr />
  <% end %>
<% end %>

<%= link_to t(:create_object, obj: t(:comment)), new_comment_path(article_id: @article.id) %> |
<%= link_to t(:edit_object, obj: t(:article)), edit_article_path(@article) %> |
<%= link_to t(:back), @article.blog %>
