<p id="notice"><%= notice %></p>

<h3><%= @article.blog.name %></h3>
<div class="row">
  <div class="col-sm-12 body">
    <small><%= link_to format_date(@article.created_at), edit_article_path(@article) %></small>
    <h4 class="section"><%= "#{@article.title}" %></h4>
    <div class="row">
      <div class="col-sm-12">
        <%= format_text @article.body %>
      </div>
    </div>
  </div>
</div>
<br>
<% if @article.comments.present? %>
  <% @article.comments.each do |comment| %>
    <div class="row">
      <div class="col-sm-12 body">
        <div class="row">
          <div class="col-sm-12">
            <div style="float:left"><b><%= comment.owner.name %></b></div>
            <div style="float:right"><small><%= format_datetime comment.created_at %></small></div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm-12">
            <%= format_text comment.body %>
          </div>
        </div>
      </div>
    </div>
    <br>
  <% end %>
<% end %>
<% if current_user %>
  <%= form_for(@comment) do |f| %>
    <div class="field">
      <%= f.text_area :body, size: "x3", class: "form-control",  placeholder: t(:let_us_do, do: t(:write_object, obj: t(:comment))) %>
    </div>
    <%= f.number_field :article_id, value: @comment.article_id, type: "hidden" %>
    <div class="actions" style="float:right">
      <%= f.submit t(:write_object, obj: t(:comment)), class: "btn btn-default btn-xs" %>
    </div>
  <% end %>
<% end %>
