<p id="notice"><%= notice %></p>

<h3><%=t :blog_list_of, user: @user.name %></h3>

<table class="table">
  <thead>
    <tr>
      <th><%=t :blog %></th>
      <th><%=t :updated_date %></th>
    </tr>
  </thead>
  <tbody>
    <% if @user.blogs.present? %>
      <% @user.blogs.each do |blog| %>
        <tr>
          <td><%= link_to blog.name, blog %></td>
          <td><%= format_ja_datetime blog.updated_at %></td>
        </tr>
      <% end %>
    <% else %>
      <tr>
        <td colspan="2"></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% if current_user && current_user.try(:id) == @user.id %>
  <%= link_to t(:create_object, obj: t(:blog)), new_blog_path %> |
<% end %>
<%= link_to t(:back), users_path %>
